---
---

@import "minima";

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body {
  font-family: 'Tahoma', 'Noto Sans';
}

h1, h2, h3 {
  color: darkblue;
}

h1 {
  font-size: 130%;
  font-weight: bold;
  font-style:normal;;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 100%;
}

blockquote {
  font-style: normal;
}